
$primary-color: #5E56E7;
$bg-color: #F8F7FF;

$dark-color:  #F0F0F6;
$darker-color: #A0A0A0;
$darkest-color: #333333;

$font-size-xx-small: 10px;
$font-size-small: 12px;
$font-size-regular: 16px;
$font-size-medium: 20px;
$font-size-large: 30px;
$font-size-xx-large: 48px;



