@import './../variables/_variable.scss';

.page {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1023px;
  margin: 0 auto;
    .list-grid {
      margin-top: 50px;
      padding-bottom: 50px;
    }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $bg-color url(./../../assets/svg/Pattern.svg);
  
  .title {
    font-size: $font-size-xx-large;
    color: $primary-color;
  }

  .sub-title {
    font-size: $font-size-medium;
    font-weight: 500;
  }
  
}

  .collection-item {
    background-color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    box-shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
    border-radius: 4px;
    
    color: $darkest-color;
    padding-left: 10px;
    padding-right: 10px;
    .search-label {
      font-size: 20px;
      font-weight: 600;
    }

    .search-img {
      height: 25px;
      img {
        height: 100%;
        display: inline-block;
        padding-right: 10px;
      }
    }
    .list-card {
      display: flex;
      align-items: center;
    }
  }
  
  .row-bg {
    background-color: $bg-color;
    min-height: 100vh;
  }
  